body {
    font-family: Verdana, Geneva, sans-serif;
}

.App {
    text-align: center;
}

.App-header {
    font-size: xx-large;
}

.DataController {
    margin-top: 0.5cm;
}

.SearchBox {
    margin-bottom: 0.25cm;
}

.DataViewer li {
    list-style-type: none;
}
